# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/client/dist/
/client/build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
/coverage/

# Uploads
/server/public/uploads/*
!/server/public/uploads/.gitkeep
uploads/*
!uploads/sample-images/
!uploads/branding/
!uploads/sample-images/*
!uploads/branding/*

# Misc
*.log
.cache/ 